<footer class="row-footer">
	<div class="container">
		<div class="row row-footer">
			<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
				<h5>Contributor</h5>
				<em>Jing Yang</em><br>
				<em>Muxi Qi</em>
			</div>
			<div class="col-xs-6 col-sm-6">
				<h5>Our Address</h5>
				<address>
					100 Institute Road<br>
					Worcester, MA 01609<br>
					The United States of America
				</address>
			</div>
			<div class="col-xs-12">
				<p style="padding:10px;"></p>
				<p class="text-center">© Copyright 2015 WPI Research Use Only</p>
			</div>
		</div>
	</div>
</footer>