<div class="panel row row-content" id="aboutus">
	<div class="col-xs-12 col-sm-9">
		<p>Tired of purchasing and refunding on <abbr title="famous and successful online shopping solution (amazon.com)">Amazon</abbr>? Annoyed by spam messages and emails after selling via <abbr title="widespread local 2nd-hand market solution (craigslist.org)">Craigslist</abbr>? Now we have a better solution:</p>
		<p class="lead"><span class="label label-danger">Exchange<sup>+</sup> - Worcester</span>, Exchange &amp; <b class="text-danger">MORE</b>!</p>
		<p>By combining data from <abbr title="craigslist.org">Craigslist</abbr> with mechanism from <abbr title="Amazon.com">Amazon</abbr>, we come up with this improved solution, <abbr title="Our Application">Exchage<sup>+</sup> - Worcester</abbr>. The contact information is enclosed by a <span class="label label-warning">Purchase</span> system and can only be viewed by sellers and buyers of the item.</p>
		<p>This applicaiton is a <abbr title="Not a commercial solution, Just for research">beta/research version</abbr> by <em>Jing Yang</em> and <em>Muxi Qi</em> for our Database Management Course. Only <abbr title="Worcester, MA, United States">Worcester</abbr> Market and limited utilities are supported.</p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<dl>
			<dt>Contributor</dt>
			<dd>
				<ul class="list-unstyled">
					<li><em>@Jing Yang</em></li>
					<li><em>@Muxi Qi</em></li>
				</ul>
			</dd>
			<dt>Copyright</dt>
			<dd>
				<ul class="list-unstyled">
					<li>© WPI Research</li>
					<li>© craigslist</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>
